@import '@fontsource/montserrat';
@import '@fontsource/open-sans';
@import '@fontsource/fira-mono';

:root {
	/* --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	--font-body: "Montserrat", sans-serif;;
	--font-mono: 'Fira Mono', monospace;
	--acc1-color: #f9826c;
	--acc2-color: #ff446c;
	--acc2b-color: #cb2040;
	--white-color: #cedffc;
	--white2-color: #adbfdd;
	--black-color: #090711;
	--black2-color: #110f1a;
	--card-color: #0e0b16;
	--color-text: rgba(0, 0, 0, 0.7);
	color: var(--white-color);
	font-family: var(--font-body);
	font-weight: 600;
	-webkit-tap-highlight-color: #00000000;
}

::selection {
	color: var(--acc2-color);
	background-color: var(--white-color);
}

::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

* {
	margin: 0;
	padding: 0;
}

*::-webkit-input-placeholder {
	color: var(--white2-color);
	opacity: 0.65;
}

*::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--white2-color);
	opacity: 0.65;
}

*::placeholder {
	/* modern browser */
	color: var(--white2-color);
	opacity: 0.65;
}

body {
	overflow-anchor: none;
	touch-action: manipulation;
	scroll-behavior: smooth;
	min-height: 100vh;
	margin: 0;
	background-color: var(--black2-color);
}

h1 {
	font-size: clamp(2.8rem, 10vw, 6.5em);
}

h2 {
	font-size: clamp(2.2rem, 6vw, 4.5em);
}

a {
	color: var(--acc1-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.bold {
	font-weight: 600 !important;
}

.fade {
	color: var(--white2-color) !important;
	opacity: 0.4;
}

.outline {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 600 !important;
	color: var(--black2-color) !important;
	-webkit-text-stroke: 1.5px var(--white-color) !important;
}

.acc1 {
	color: var(--acc1-color);
}

.acc2 {
	color: var(--acc2-color);
}

.underline-hover {
	transition: color 0.3s ease-in;
}

.underline-hover:hover {
	color: var(--acc2-color);
	text-decoration: underline;
}

.block-hover {
	width: fit-content;
	transition: color 0.3s ease-in;
}

.block-hover:hover {
	background-color: var(--acc2-color);
	color: var(--white1-color);
}

img {
	width: 100%;
	height: auto;
}

.diagonal-stripes {
	background: repeating-linear-gradient(135deg,
			var(--black2-color),
			var(--black2-color) 10px,
			var(--acc2b-color) 10px,
			var(--acc2b-color) 20px);
}

.diagonal-stripes-thin {
	background: repeating-linear-gradient(135deg,
			var(--white2-color),
			var(--white2-color) 1px,
			var(--black2-color) 2px,
			var(--black2-color) 10px);
}

.diagonal-stripes-dot {
	background: repeating-linear-gradient(135deg,
			var(--white2-color),
			var(--white2-color) 1px,
			var(--black2-color) 2px,
			var(--black2-color) 5px);
}

.diagonal-stripes-w {
	background: repeating-linear-gradient(135deg,
			var(--black2-color),
			var(--black2-color) 10px,
			var(--white-color) 10px,
			var(--white-color) 20px);
}